<div class="row">
  <div class="col-md-4 col-md-offset-4 form">
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <%= f.label :family_name, "姓" %>
        <%= f.text_field :family_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :first_name, "名" %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :username, "ユーザーネーム" %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :image, "プロフィール画像" %>
        <div>
          <%if @image.present? %>
            <%= image_tag @image.url, class: "icon", :size => "100x100" %>
          <% end %>
        </div>
        <%= f.file_field :image, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :profile, "自己紹介" %>
        <%= f.text_area :profile, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>